
.gims-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d055b4;
	border-radius: 50%;
	/* overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; */
}

/* .gim-content {

} */